@{
    ViewData["Title"] = "Direct Contact - Vaccinated";
}


<h1 class="text-center">Direct Contact - Vaccinated</h1>
<b/>
<div class="mt-5 d-flex justify-content-center">
<p>No quarantine needed, send email to supervisor or manager, maybe disable the badge, etc</p>
</div>