@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Positive Covid Test";
}


<h1 class="text-center">Positive Test</h1>
<b/>
<div class="mt-5 d-flex justify-content-center">
<p>Send email to supervisor or manager, maybe disable the badge, etc</p>
</div>