@{
    ViewData["Title"] = "Symptomatic Vaccinated";
}


<h1 class="text-center">Symptomatic Vaccinated</h1>
<b/>
<div class="mt-5 d-flex justify-content-center">
<p>Return to work aftr symptoms subside, send email to supervisor or manager, maybe disable the badge, etc</p>
</div>