@{
    ViewData["Title"] = "Vaccine Side Effects";
}


<h1 class="text-center">Vaccine Side Effects</h1>
<b/>
<div class="mt-5 d-flex justify-content-center">
<p>No quarantine needed, return to work after recovery, send email to supervisor or manager</p>
</div>